{% extends "base.html" %} {% block content %}
<div class="flex justify-center mt-20">
  <form
    class="flex flex-col justify-evenly items-center border border-neutral-300 rounded-lg m-20"
    action=""
    method="post"
    novalidate
  >
    {{ form.hidden_tag() }}

    <div class="px-12 pt-16 pb-8">
      <p class="font-semibold">{{ form.email.label }}</p>
      <div class="appearance-none border border-neutral-300 max-w-min">
        {{ form.email(size=32) }}
      </div>
      {% for error in form.email.errors %}
      <p class="text-red-500">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="px-12 pb-8">
      <p class="font-semibold">{{ form.password.label }}</p>
      <div class="appearance-none border border-neutral-300 max-w-min">
        {{ form.password(size=32) }}
      </div>
      {% for error in form.password.errors %}
      <p class="text-red-500">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="flex justify-between items-center w-full px-12 pb-8">
      <p class="rounded-lg p-2 bg-neutral-500 text-white hover:bg-neutral-600">{{ form.submit() }}</p>
      <p>{{ form.remember() }} {{ form.remember.label }}</p>
    </div>

    <div class="flex justify-start w-full px-12 pb-16">
      <a class="hover:underline" href="{{ url_for('register') }}">Register</a>
    </div>
  </form>
</div>
{% endblock %}
